{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Entrar</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/modals.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/Bootstrap/css/bootstrap.css' %}" media="all">
	<link href="{% static 'css/Bootstrap/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
</head>
<body >
	
	<div class="limiter">
		
		<div class="container-login100" style="background-image: url({% static 'img/bg-01.jpg' %}) ;">

			<div class="wrap-login100">
				<form  method="POST">{% csrf_token %}
						
					<span class="login100-form-logo">
						<i class="fa fa-user"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Entrar
					</span>
					
					<div class="wrap-input100 validate-input" data-validate = "Introducir Cedula">
						<input class="input100" type="text" name="username" placeholder="Correo Electrónico">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Introducir Contraseña">
							
						<input class="input100" type="password" name="password" placeholder="Contraseña">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" name="login">
							Entrar
						</button>
					</div>
								<div class="forgot-top-grids login-page">
								  <div class="forgot">
									<a href="#"  class="passRecuperar">Olvido de Contraseña?</a>
								  </div>
								  <div class="clearfix"> </div>
								</div>
								 <!-- Modal -->
								 <div id="recup_mymodal" class="mascara3">
									<div class="contenido3">
										<span id="closemymodal1" class="cerrar3">&times;</span>
										<div class="boxContentList__content--two center">
											<div class="row">
												<div class="col-sm-12 my_div">
													<div class="flexbox column xCenter yCenter" style="border-radius: 5px; margin-top: 6.8rem; min-height: 250px;">
														<h4 style="width: 100%; text-align: center;margin-top: -18%;" class="header2">Desea Recuperar Tu Contraseña ?</h4>
														<img class="my_img" src="{% static 'login/images/img-01.png' %}">
														<div class="form-group">
															<p class="my_p">Ingrese su dirección de correo electrónico a continuación para restablecer su contraseña.</p>
															<input class="form-control form-app" name="email" placeholder="Correo" autocomplete="off" class="form-control placeholder-no-fix">
								  
														</div>
														<div class="form-group my_btn">
															<button class="btn btn-info" type="button">Aceptar</button>
															<button class="btn btn-danger" type="button">Cancelar</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
									<!-- modal -->
							  
							  <h5><a href="../../ " style="color: ghostwhite;">Ir a Inicio</a></h5>
							</div>
							</div>
				
					<div id="dropDownSelect1">
						<img class="logo" src="{% static 'landing/img/logo.png' %}">
					</div>	
				</form>
			</div>
			
		</div>
	</div>
	

<!--===============================================================================================-->
	<script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/js/main.js' %}"></script>
	<script src="{% static 'login/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript">
        function functionModal(id, close, open) {
            const boxModal = document.querySelector("#" + id);
            const closeModal = document.querySelector("#" + close);
            const openModal = document.querySelectorAll("." + open);
    
            if (boxModal && openModal) {
                for (var btnOpen = 0; btnOpen < openModal.length; btnOpen++) {
                    openModal[btnOpen].addEventListener('click', function(){
                        if (boxModal.getAttribute('style')) {
                            document.querySelector('body').removeAttribute('style');
                            boxModal.removeAttribute('style');
                        } else {
                            boxModal.setAttribute('parentNode', 'active');
                            
                            const parentNode = document.querySelectorAll("[parentNode='active']");
                            for (var i = 0; i < parentNode.length; i++) {
                                parentNode[i].removeAttribute('style');
                            }
    
                            document.querySelector('body').setAttribute('style', 'overflow-y: hidden !important;');
                            boxModal.setAttribute('style', 'display: block;');
                        }
                    });
                }
            }
    
            if (boxModal && closeModal) {
                closeModal.addEventListener('click', function(){
                    if (boxModal.getAttribute('style')) {
                        document.querySelector('body').removeAttribute('style');
                        boxModal.removeAttribute('style');
                    }
                });
            }
        }
    
        document.addEventListener('DOMContentLoaded', function(){
            // Este code funciona solo para modales unicas
            // Id, Id, class
    
            
            functionModal('recup_mymodal', 'closemymodal1', 'passRecuperar');

    
        });
        $('.dropdown-toggle').dropdown()
    </script>

</body>
</html>