{% extends '../base/base.html' %}
{% load staticfiles %}
{% block content %}
<style type="text/css">
  .input-error{
    border-bottom:1px solid red !important;
  }
</style>
<!-- Main content -->
<div class="row">
	<div class="col s12">
		<div class="card-panel">
			<h4 class="title">Nuevo Trabajador</h4>
			<div class="row">
    			<form class="col s12" id="form" role="form" method="POST" name="formulario">
              {% csrf_token %}
               <!-- {{ form.as_p }} --> 
              <div class="row">
                <div class="input-field col s12 ">
                    <i class="material-icons prefix">account_circle</i>
                    <input onblur="validation_aggtrabajador();" type="number" name="cedula" id="id_cedula">
                    <label for="icon_prefix">Cedula</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="text" name="nombre">
                    <label for="icon_prefix">Nombre</label>
                </div>
        				<div class="input-field col s6">
          					<i class="material-icons prefix">account_circle</i>
          					<input type="text" name="apellido">
          					<label for="icon_telephone">Apellido</label>
        				</div>
              </div>
              <div class="row">
        				<div class="input-field col s6">
          					<i class="material-icons prefix">contact_phone</i>
                    <select name="cod_tele">
                      {% for x,y in trabajador.fields.cod_tele.choices %}
                      <option value="{{ x }}"{% if trabajador.fields.cod_tele.value == x %} selected{% endif %}>{{ y }}</option>
                      {% endfor %}
                    </select>
          					<label for="icon_prefix">Codigo de telefno</label>
        				</div>
        				<div class="input-field col s6">
          					<i class="material-icons prefix">local_phone</i>
                    <input type="number" name="telefono">
          					<label for="icon_telephone">Telefono</label>
        				</div>
      				</div>
              <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">wc</i>
                    <select name="sexo">
                      {% for x,y in trabajador.fields.sexo.choices %}
                      <option value="{{ x }}"{% if trabajador.fields.sexo.value == x %} selected{% endif %}>{{ y }}</option>
                      {% endfor %}
                    </select>
                    <label for="icon_prefix">Sexo</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">receipt</i>
                    <input type="number" name="num_ric">
                    <label for="icon_telephone">Numero de Ric</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">today</i>
                    <input type="text" name="fecha_ingre_publi">
                     <label for="icon_telephone">Fecha de Ingreso Publicado</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">today</i>
                    <input type="text" name="fecha_ingre_institu">
                    <label for="icon_telephone">Fecha de Ingreso Institucional</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">receipt</i>
                    <input type="number" name="cod_rac">
                     <label for="icon_telephone">Codigo de Rac</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">work</i>
                    <select name="cargos">
                      {% for x,y in trabajador.fields.cargos.choices %}
                      <option value="{{ x }}"{% if trabajador.fields.cargos.value == x %} selected{% endif %}>{{ y }}</option>
                      {% endfor %}
                    </select>
                    <label for="icon_telephone">Cargos</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">money</i>
                    <input type="text" name="sueldo">
                     <label for="icon_telephone">Correo</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">update</i>
                      <select name="estat_traba">
                      {% for x,y in trabajador.fields.estat_traba.choices %}
                      <option value="{{ x }}"{% if trabajador.fields.estat_traba.value == x %} selected{% endif %}>{{ y }}</option>
                      {% endfor %}
                    </select>
                    <label for="icon_telephone">Estatus</label>
                </div>
              </div>
              <button class="btn waves-effect waves-light right" type="submit" name="action">Guardar
                <i class="material-icons right">send</i>
              </button>
              <a href="#" class="btn waves-effect waves-light right">Volver</a>
              
            </div>
    			</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="{% static 'js/myvalidaters.js' %}"></script>
<script type="text/javascript">
  <script type="text/javascript">
jQuery(document).ready(function() {
  $('#form').submit(function(e){
    var next_step = true;
    var cedula = document.getElementById('id_cedula')
    var descripcion = document.getElementById('id_descripcion')
    var contenido = document.getElementById('id_contenido')
    var imagen = document.getElementById('id_imagen')
    console.log(cedula.value)
    //var apellido = document.getElementById('id_last_name')
  if (cedula.value.length <=7){
    $(cedula).addClass('input-error');
    $('.alert1').removeClass('hidden');
    document.getElementById('error').innerHTML="- cedula INVALIDO, INTRODUZCA UN MINIMO DE 3 CARACTERES.";
    return false;
  }

  if (cedula.value.length >=8) {
    $(cedula).removeClass('input-error');
    document.getElementById('error').innerHTML="";
    $('.alert1').addClass('hidden');
    //next_step1 = false;
  }
  // if (descripcion.value.length <3){
  //   $(descripcion).addClass('input-error');
  //   $('.alert2').removeClass('hidden');
  //   document.getElementById('error-d').innerHTML="- DESCRIPCION INVALIDA, INTRODUZCA UN MINIMO DE 3 CARACTERES.";
  //   return false;
  // }
  // if (descripcion.value.length >=3) {
  //   $(descripcion).removeClass('input-error');
  //   document.getElementById('error-d').innerHTML="";
  //   $('.alert2').addClass('hidden');
  //   //next_step1 = false;
  // }

  // if (contenido.value.length <15){
  //   $(contenido).addClass('input-error');
  //   $('.alert3').removeClass('hidden');
  //   document.getElementById('error-c').innerHTML="- CONTENIDO INVALIDO, INTRODUZCA UN MINIMO DE 15 CARACTERES.";
  //   return false;
  // }
  // if (contenido.value.length >=15) {
  //   $(contenido).removeClass('input-error');
  //   document.getElementById('error-c').innerHTML="";
  //   $('.alert3').addClass('hidden');
  //   //next_step1 = false;
  // }
  // if (imagen.value.length <1){
  //   $(imagen).addClass('input-error');
  //   $('.alert5').removeClass('hidden');
  //   document.getElementById('error-i').innerHTML="- IMAGEN INVALIDA, CARGUE UNA IMAGEN.";
  //   return false;
  // }
  // else {
  //   $(imagen).removeClass('input-error');
  //   document.getElementById('error-i').innerHTML="";
  //   $('.alert5').addClass('hidden');
  //   //next_step1 = false;
  // }

    })});
</script>
</script>
{% endblock %}