{% extends '../base/base.html' %}
{% load static %}
{% block content %}
<div class="row myrow">
	<div class="col s12">
		<div class="card-panel">
			<h4 class="title">Editando Firmante</h4>
			<div class="row">
    			<form class="col s12" method="POST">
    				{% csrf_token %}
    				<div class="row">
        				<div class="input-field col s6">
          					<i class="material-icons prefix">account_circle</i>
                    <input type="text" name="cedu_firm" 
                    value="{{ver_firman.cedu_firm.value}}">
          					<label for="icon_prefix">Cedula</label>
        				</div>
        				<div class="input-field col s6">
          					<i class="material-icons prefix">account_circle</i>
                    <input type="text" name="nomb_firm" value="{{ ver_firman.nomb_firm.value }}">
          					<label for="icon_telephone">Nombre</label>
        				</div>
      				</div>
      				<div class="row">
        				<div class="input-field col s6">
          					<i class="material-icons prefix">account_circle</i>
                     <input type="text" name="apel_firm" value="{{ ver_firman.apel_firm.value }}">
          					<label for="icon_prefix">Apellido</label>
        				</div>
        				<div class="input-field col s6">
          					<i class="material-icons prefix">account_circle</i>
                    <input  type="text" name="cargos1" value="{{ ver_firman.cargos1.value }}">
          					<label for="icon_telephone">Cargos</label>
        				</div>
      				</div>
      				<button class="btn waves-effect waves-light right" type="submit">Guardar
    					<i class="material-icons right">send</i>
  					</button>
  					<a href="{% url 'panelAdmin:Admin' %}" class="btn waves-effect waves-light right">Volver</a>
    			</form>	
			</div>
		</div>
	</div>
</div>

{% endblock %}