{% extends '../base/base.html' %}
{% load static %}
{% block content %}
<!-- Main content -->
<!-- <p>
	Actualmente tenemos registrados:
	{% with total=firman.count %}
		{{total}} firmante{{total|pluralize}}
	{% endwith %}
</p> -->

<div class="row">
	<div class="col s10 m9 l9">
		<h5 class="title">Listado de Firmantes</h5>
	</div>
</div>
<table class="dataTable">
	<thead>
		<tr>
			<td>N°</td>
			<td>Cedula</td>
			<td>Nombre</td>
			<td>Apellido</td>
			<td>Cargo</td>
			<td>Opciones</td>
		</tr>
	</thead>
	{% for dato in firman %}
	<tbody>
		<tr>
			<td>{{dato.id}}</td>
			<td>{{dato.cedu_firm}}</td>
			<td>{{dato.nomb_firm}}</td>
			<td>{{dato.apel_firm}}</td>
			<td>{{dato.cargos1}}</td>
			<td><a href="{% url 'Panel:editar' pk=dato.id %}" class="btn waves-effect waves-light" ><i class="material-icons">create</i></a></td>

		</tr>
		{% empty %}
		<td>No hay registros</td>
	{% endfor %} 
	</tbody>
</table>


{% endblock %}