
<!-- 	{% extends '../base/base.html' %}
{% load staticfiles %}
{% block content %}

<br />
<form method="post">
  {% csrf_token %}
  {{ user_form.as_p }}
  {{ trabajador_form.as_p }}
  <button type="submit">Save changes</button>
</form>
<p>
{% endblock %} -->