.mascara3 {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);

    z-index: 1000;
}
.contenido3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    margin: 0;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}
.cerrar3 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.cerrar3:hover,
.cerrar3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.forgot-top-grids {
    margin: 1em 0em;
    padding:0em 1.5em
}
.forgot-top-grids {
    margin: 0em 0em 0.8em 0em;
}

.forgot-top-grids {
    padding: 0em 0.5em;
}
.forgot-grid{
	float:left;
}
.forgot-grid ul {
	margin:0;
	padding: 0px;
}
.forgot-grid ul li {
    list-style: none;
    display: inline-block;
}
.forgot-grid ul li input[type="checkbox"] {
    display: none;
}
.forgot-grid ul li input[type="checkbox"]+label {
    position: relative;
    padding-left: 31px;
    color: #10a0e6;
    display: inline-block;
    cursor: pointer;
    font-size: .75em;
    font-weight: 600;
    text-transform: uppercase;
}
.my_img{
    width: 24% !important;
    margin-bottom: 4%;
    margin-left: 39%;

}
.my_btn{
    margin-left: 35% !important;
}
.my_p{
    margin-bottom: 3% !important;
}