{% extends '../base/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
	<div class="col s12">
		<h4 class="title">Añadir Sueldo</h4>
			<div class="row">
    			<div class="col s12">
    				<div class="row">
    					<div class="col s4">
	    					<div class="card">
		                      	<div class="card-image">
		                        	<img class="img_empl" src="{% static 'images/trabajadores/empleados.jpg' %}">
		                        	
		       						<a class="btn-floating btn-large halfway-fab  ">
		                            	<i class="material-icons">add</i>
		                        	</a>
		                      	</div>
		                      	<div class="card-content">
		                      		<span class="card-title title">Empleados</span>
		                      	</div>
		                    </div>
		                </div>
		                <div class="col s4">
		                    <div class="card">
		                      	<div class="card-image">
		                        	<img class="img_obre" src="{% static 'images/trabajadores/obrero.jpg' %}">
		                        	
		                        	<a class="btn-floating btn-large halfway-fab">
		                            	<i class="material-icons">add</i>
		                        	</a>
		                      	</div>
		                      	<div class="card-content">
		                      		<span class="card-title title">Obreros</span>
		                      	</div>
		                  	</div>
		                </div>
		                <div class="col s4">
		                    <div class="card">
		                      	<div class="card-image">
		                        	<img class="img_pers" src="{% static 'images/trabajadores/medicos.png' %}">
		                        	
		                        	<a class="btn-floating btn-large halfway-fab">
		                            	<i class="material-icons">add</i>
		                        	</a>
		                      	</div>
		                      	<div class="card-content">
		                      		<span class="card-title title">Medicos</span>
		                      	</div>
		                    </div>
		                </div>
					</div>
				</div>
			</div>
	</div>
</div>
{% endblock %}