{% extends '../base/base.html' %}
{% load staticfiles %}
{% block content %}

<br />
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Save changes</button>
</form>
<p>

<!-- Main content -->
<!-- <div class="row">
	<div class="col s12">
		<div class="card-panel">
			<h4 class="title">Nuevo Usuario</h4>
			<div class="row">
    			<form class="col s12" role="form" method="POST" name="formulario">
            {% csrf_token %}
            {{ user_form.as_p }}
      				<div class="row">
        				<div class="input-field col s6">
          					<i class="material-icons prefix">account_circle</i>
          					<input id="icon_prefix" type="text" name="first_name">
          					<label for="icon_prefix">Nombre</label>
        				</div>
        				<div class="input-field col s6">
          					<i class="material-icons prefix">account_circle</i>
          					<input id="icon_telephone" type="tel" name="last_name">
          					<label for="icon_telephone">Apellido</label>
        				</div>
      				</div>
      				<div class="row">
        				<div class="input-field col s6">
          					<i class="material-icons prefix">vpn_key</i>
          					<input id="icon_prefix" type="text" name="password1">
          					<label for="icon_prefix">Contraseña</label>
        				</div>
        				<div class="input-field col s6">
          					<i class="material-icons prefix">vpn_key</i>
          					<input id="icon_telephone" type="tel" name="password2">
          					<label for="icon_telephone">Repetir Contraseña</label>
        				</div>
      				</div>

      				<div class="row">
      					<div class="input-field col s12">
                <select name="trabajador" class="form-control">
                  {% for x,y in usuario.fields.trabajador.choices %}
                  <option value="{{ x }}"{% if usuario.fields.trabajador.value == x %} selected{% endif %}>{{ y }}</option>
                  {% endfor %}
                </select>
    						<label>Seleccione el Trabajador</label>
  						</div>
          <button class="btn waves-effect waves-light right" type="submit" name="action">Guardar
            <i class="material-icons right">send</i>
          </button>

          <a href="{% url 'panelAdmin:Admin' %}" class="btn waves-effect waves-light right">Volver</a>
    			</form>
			</div>
		</div>
	</div>
</div> -->

{% endblock %}