{% load staticfiles %}
<!-- Main content -->
<!DOCTYPE html>
<html>
  <head>
    {% block extrahead %}
    {% endblock %}
    <meta content="charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}DeparWeb{% endblock %}</title>
    <!-- Favicons-->
    <link rel="icon" href="{% static 'images/favicon/favicon-32x32.png' %}" sizes="32x32">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/custom/custom.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/material-design-icons/MaterialIcons-Regular.ttf' %}">
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/fontawesome-all.css'%}">
    <link rel="stylesheet" href="{% static 'css/icon.css'%}">
    <link rel="stylesheet" href="{% static 'lib/JTables/css/dataTables.min.css'%}">
    <link rel="stylesheet" href="{% static 'lib/JTables/css/jquery.dataTables.min.css'%}">
    <link rel="stylesheet" href="{% static 'lib/JTables/css/responsive.dataTables.min.css'%}">
  </head>
 <body>
  {% block header %}
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    {% if user.is_analista_jubilacion %}
    <header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="navbar-color gradient-45deg-light-blue-cyan">
          <div class="nav-wrapper">
            <ul class="left">
              <li>
                <h1 class="logo-wrapper">
                  <a href="index.html" class="brand-logo darken-1">
                    <img class="img-header" src="{% static 'landing/img/logo.png'%}" alt="materialize logo">
                    
                  </a>
                </h1>
              </li>
            </ul>
            <div class="header-search-wrapper hide-on-med-and-down">
              <i class="material-icons">search</i>
              <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explora DeparWeb" />
            </div>
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown">
                  <span class="flag-icon flag-icon-gb"></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                  <i class="material-icons">settings_overscan</i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
                  <i class="material-icons">notifications_none
                    <small class="notification-badge pink accent-2">5</small>
                  </i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
                  <span class="avatar-status avatar-online">
                    <img src="{% static 'images/avatar/avatar-16.png'%}" alt="avatar">
                    <i></i>
                  </span>
                </a>
              </li>
              <!-- <li>
                <a href="#" data-activates="settings-dropdown" class="waves-effect waves-block waves-light notification-button">
                  <i class="material-icons">settings</i>
                </a>
              </li> -->
            </ul>
            <!-- notifications-dropdown -->
            <ul id="notifications-dropdown" class="dropdown-content">
              <li>
                <h6>NOTIFICACIONES
                  <span class="new badge">5</span>
                </h6>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
              </li>
            </ul>
            <!-- {% if user.is_superuser %}
            <ul id="settings-dropdown" class="dropdown-content">
              <li>
                
                <a href="{% url 'Seguridad:registrar' %}" class="grey-text text-darken-1">
                  <i class="material-icons">supervisor_account</i>Añadir Usuarios</a>
              </li>
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">supervisor_account</i>Cambiar Firmantes</a>
              </li>
            </ul>
            {% endif %} -->
            <!-- profile-dropdown -->
            <ul id="profile-dropdown" class="dropdown-content">
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">face</i> Perfil</a>
              </li>
              <li>
                <a href="#lass="grey-text text-darken-1">
                  <i class="material-icons">create</i>Cambiar Contraseña</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">lock_outline</i> Bloquear</a>
              </li>
              <li>
                <a href="{% url 'Seguridad:logout' %}" class="grey-text text-darken-1">
                  <i class="material-icons">keyboard_tab</i>Cerrar</a>
              </li>
            </ul>
            <!-- notifications-dropdown -->
            
          </div>
        </nav>
      </div>
      <!-- end header nav-->
    </header>
    {% endif %}
    {% if user.is_analista_vacaciones %}
    <header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="navbar-color gradient-45deg-light-blue-cyan">
          <div class="nav-wrapper">
            <ul class="left">
              <li>
                <h1 class="logo-wrapper">
                  <a href="index.html" class="brand-logo darken-1">
                    <img class="img-header" src="{% static 'landing/img/logo.png'%}" alt="materialize logo">
                    
                  </a>
                </h1>
              </li>
            </ul>
            <div class="header-search-wrapper hide-on-med-and-down">
              <i class="material-icons">search</i>
              <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explora DeparWeb" />
            </div>
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown">
                  <span class="flag-icon flag-icon-gb"></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                  <i class="material-icons">settings_overscan</i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
                  <i class="material-icons">notifications_none
                    <small class="notification-badge pink accent-2">5</small>
                  </i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
                  <span class="avatar-status avatar-online">
                    <img src="{% static 'images/avatar/avatar-1.jpg'%}" alt="avatar">
                    <i></i>
                  </span>
                </a>
              </li>
              <!-- <li>
                <a href="#" data-activates="settings-dropdown" class="waves-effect waves-block waves-light notification-button">
                  <i class="material-icons">settings</i>
                </a>
              </li> -->
            </ul>
            <!-- notifications-dropdown -->
            <ul id="notifications-dropdown" class="dropdown-content">
              <li>
                <h6>NOTIFICACIONES
                  <span class="new badge">5</span>
                </h6>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
              </li>
            </ul>
            <!-- {% if user.is_superuser %}
            <ul id="settings-dropdown" class="dropdown-content">
              <li>
                
                <a href="{% url 'Seguridad:registrar' %}" class="grey-text text-darken-1">
                  <i class="material-icons">supervisor_account</i>Añadir Usuarios</a>
              </li>
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">supervisor_account</i>Cambiar Firmantes</a>
              </li>
            </ul>
            {% endif %} -->
            <!-- profile-dropdown -->
            <ul id="profile-dropdown" class="dropdown-content">
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">face</i> Perfil</a>
              </li>
              <li>
                <a href="#lass="grey-text text-darken-1">
                  <i class="material-icons">create</i>Cambiar Contraseña</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">lock_outline</i> Bloquear</a>
              </li>
              <li>
                <a href="{% url 'Seguridad:logout' %}" class="grey-text text-darken-1">
                  <i class="material-icons">keyboard_tab</i>Cerrar</a>
              </li>
            </ul>
            <!-- notifications-dropdown -->
            
          </div>
        </nav>
      </div>
      <!-- end header nav-->
    </header>
    {% endif %}
    {% if user.is_analista_social %}
    <header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="navbar-color gradient-45deg-light-blue-cyan">
          <div class="nav-wrapper">
            <ul class="left">
              <li>
                <h1 class="logo-wrapper">
                  <a href="index.html" class="brand-logo darken-1">
                    <img class="img-header" src="{% static 'landing/img/logo.png'%}" alt="materialize logo">
                    
                  </a>
                </h1>
              </li>
            </ul>
            <div class="header-search-wrapper hide-on-med-and-down">
              <i class="material-icons">search</i>
              <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explora DeparWeb" />
            </div>
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown">
                  <span class="flag-icon flag-icon-gb"></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                  <i class="material-icons">settings_overscan</i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
                  <i class="material-icons">notifications_none
                    <small class="notification-badge pink accent-2">5</small>
                  </i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
                  <span class="avatar-status avatar-online">
                    <img src="{% static 'images/avatar/admin1.jpg'%}" alt="avatar">
                    <i></i>
                  </span>
                </a>
              </li>
              <!-- <li>
                <a href="#" data-activates="settings-dropdown" class="waves-effect waves-block waves-light notification-button">
                  <i class="material-icons">settings</i>
                </a>
              </li> -->
            </ul>
            <!-- notifications-dropdown -->
            <ul id="notifications-dropdown" class="dropdown-content">
              <li>
                <h6>NOTIFICACIONES
                  <span class="new badge">5</span>
                </h6>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
              </li>
            </ul>
            <!-- {% if user.is_superuser %}
            <ul id="settings-dropdown" class="dropdown-content">
              <li>
                
                <a href="{% url 'Seguridad:registrar' %}" class="grey-text text-darken-1">
                  <i class="material-icons">supervisor_account</i>Añadir Usuarios</a>
              </li>
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">supervisor_account</i>Cambiar Firmantes</a>
              </li>
            </ul>
            {% endif %} -->
            <!-- profile-dropdown -->
            <ul id="profile-dropdown" class="dropdown-content">
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">face</i> Perfil</a>
              </li>
              <li>
                <a href="#lass="grey-text text-darken-1">
                  <i class="material-icons">create</i>Cambiar Contraseña</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">lock_outline</i> Bloquear</a>
              </li>
              <li>
                <a href="{% url 'Seguridad:logout' %}" class="grey-text text-darken-1">
                  <i class="material-icons">keyboard_tab</i>Cerrar</a>
              </li>
            </ul>
            <!-- notifications-dropdown -->
            
          </div>
        </nav>
      </div>
      <!-- end header nav-->
    </header>
    {% endif %}
    {% if user.is_trabajador %}
    <header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="navbar-color gradient-45deg-light-blue-cyan">
          <div class="nav-wrapper">
            <ul class="left">
              <li>
                <h1 class="logo-wrapper">
                  <a href="index.html" class="brand-logo darken-1">
                    <img class="img-header" src="{% static 'landing/img/logo.png'%}" alt="materialize logo">
                    
                  </a>
                </h1>
              </li>
            </ul>
            <div class="header-search-wrapper hide-on-med-and-down">
              <i class="material-icons">search</i>
              <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explora DeparWeb" />
            </div>
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown">
                  <span class="flag-icon flag-icon-gb"></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                  <i class="material-icons">settings_overscan</i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
                  <i class="material-icons">notifications_none
                    <small class="notification-badge pink accent-2">5</small>
                  </i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
                  <span class="avatar-status avatar-online">
                    <img src="{% static 'images/avatar/in10.jpg'%}" alt="avatar">
                    <i></i>
                  </span>
                </a>
              </li>
              <!-- <li>
                <a href="#" data-activates="settings-dropdown" class="waves-effect waves-block waves-light notification-button">
                  <i class="material-icons">settings</i>
                </a>
              </li> -->
            </ul>
            <!-- notifications-dropdown -->
            <ul id="notifications-dropdown" class="dropdown-content">
              <li>
                <h6>NOTIFICACIONES
                  <span class="new badge">5</span>
                </h6>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
              </li>
            </ul>
            <!-- {% if user.is_superuser %}
            <ul id="settings-dropdown" class="dropdown-content">
              <li>
                
                <a href="{% url 'Seguridad:registrar' %}" class="grey-text text-darken-1">
                  <i class="material-icons">supervisor_account</i>Añadir Usuarios</a>
              </li>
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">supervisor_account</i>Cambiar Firmantes</a>
              </li>
            </ul>
            {% endif %} -->
            <!-- profile-dropdown -->
            <ul id="profile-dropdown" class="dropdown-content">
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">face</i> Perfil</a>
              </li>
              <li>
                <a href="#lass="grey-text text-darken-1">
                  <i class="material-icons">create</i>Cambiar Contraseña</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">lock_outline</i> Bloquear</a>
              </li>
              <li>
                <a href="{% url 'Seguridad:logout' %}" class="grey-text text-darken-1">
                  <i class="material-icons">keyboard_tab</i>Cerrar</a>
              </li>
            </ul>
            <!-- notifications-dropdown -->
            
          </div>
        </nav>
      </div>
      <!-- end header nav-->
    </header>
    {% endif %}
    {% if user.is_superuser %}
    <header id="header" class="page-topbar">
      <!-- start header nav-->
      <div class="navbar-fixed">
        <nav class="navbar-color gradient-45deg-light-blue-cyan">
          <div class="nav-wrapper">
            <ul class="left">
              <li>
                <h1 class="logo-wrapper">
                  <a href="index.html" class="brand-logo darken-1">
                    <img class="img-header" src="{% static 'landing/img/logo.png'%}" alt="materialize logo">
                    
                  </a>
                </h1>
              </li>
            </ul>
            <div class="header-search-wrapper hide-on-med-and-down">
              <i class="material-icons">search</i>
              <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explora DeparWeb" />
            </div>
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown">
                  <span class="flag-icon flag-icon-gb"></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                  <i class="material-icons">settings_overscan</i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
                  <i class="material-icons">notifications_none
                    <small class="notification-badge pink accent-2">5</small>
                  </i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
                  <span class="avatar-status avatar-online">
                    <img src="{% static 'images/avatar/avatar.png'%}" alt="avatar">
                    <i></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="#" data-activates="settings-dropdown" class="waves-effect waves-block waves-light notification-button">
                  <i class="material-icons">settings</i>
                </a>
              </li>
            </ul>
            <!-- notifications-dropdown -->
            <ul id="notifications-dropdown" class="dropdown-content">
              <li>
                <h6>NOTIFICACIONES
                  <span class="new badge">5</span>
                </h6>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
              </li>
              <li>
                <a href="#!" class="grey-text text-darken-2">
                  <span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
              </li>
            </ul>
            <ul id="settings-dropdown" class="dropdown-content">
              <li>
                
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">supervisor_account</i>Añadir Usuarios</a>
              </li>
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">supervisor_account</i>Cambiar Firmantes</a>
              </li>
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">supervisor_account</i>Agregar Sueldos</a>
              </li>
            </ul>
            <!-- profile-dropdown -->
            <ul id="profile-dropdown" class="dropdown-content">
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">face</i> Perfil</a>
              </li>
              <li>
                <a href="#"grey-text text-darken-1">
                  <i class="material-icons">create</i>Cambiar Contraseña</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#" class="grey-text text-darken-1">
                  <i class="material-icons">lock_outline</i> Bloquear</a>
              </li>
              <li>
                <a href="{% url 'Seguridad:logout' %}" class="grey-text text-darken-1">
                  <i class="material-icons">keyboard_tab</i>Cerrar</a>
              </li>
            </ul>
            <!-- notifications-dropdown -->
            
          </div>
        </nav>
      </div>
      <!-- end header nav-->
    </header>
    {% endif %}
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
          <ul id="slide-out" class="side-nav fixed leftside-navigation ">
            {% if user.is_superuser %}
              <li class="user-details cyan darken-2">
                <div class="row">
                  <div class="col col s4 m4 l4">
                    <img src="{% static 'images/avatar/avatar.png'%}" alt="" class="circle responsive-img valign profile-image cyan">
                  </div>
                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown-nav"><p>Archivera(Admin)</p><i class="mdi-navigation-arrow-drop-down right"></i></a>
                </div>
              </li>
              <ul class="collapsible">
                    <li class="no-padding">
                      <ul class="collapsible" data-collapsible="accordion">
                        <li class="bold">
                          <a href="#class="waves-effect waves-cyan">
                              <i class="material-icons">pie_chart_outlined</i>
                              <span class="nav-text">Inicio</span>
                            </a>
                        </li>
                        <li>
                          <div class="collapsible-header">
                            <i class="material-icons">filter_drama</i>
                            Trabajadores
                            </div>
                          <div class="collapsible-body">
                            <a href="{% url 'Trabaexpe:Aggm' %}">
                              Registro trabajadores
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Listados de trabajadores
                            </a>
                          </div>
                        </li>
                        <li>
                          <a href="#" class="waves-effect waves-cyan my_a bold">
                              <i class="material-icons text_bold" style=" color: #000;">money</i>
                              <span class="text_bold">Listado de Constancias</span>
                            </a>
                        </li>
                        <li>
                          <div class="collapsible-header">
                            <i class="material-icons">filter_drama</i>
                            Movimientos/Analista
                            </div>
                          <div class="collapsible-body">
                            <a  href="#">
                              Vacaciones
                            </a>
                          </div>
                          <div class="collapsible-body">
                              <a href="#" class="waves-effect waves-cyan">
                                Jubilacion
                                </a>
                          </div>
                          <div class="collapsible-body">
                              <a href="#" class="waves-effect waves-cyan">
                                Seguro Social
                                </a>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header">
                            <i class="material-icons">place</i>
                            Expedientes
                            <span class="badge">1</span></div>
                          <div class="collapsible-body">
                            <a href="#" class="waves-effect waves-cyan">
                                Expedientes solicitados
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#" class="waves-effect waves-cyan">
                                Listado de expedientes
                            </a>
                          </div>
                        </li>
                      </ul>
                    </ul>
                </li>
              {% endif %}
              {% if user.is_analista_jubilacion %}
              <li class="user-details cyan darken-2">
                <div class="row">
                  <div class="col col s4 m4 l4">
                    <img src="{% static 'images/avatar/avatar-16.png'%}" alt="" class="circle responsive-img valign profile-image cyan">
                  </div>
                  
                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown-nav"><p>analista de jubilacion</p><i class="mdi-navigation-arrow-drop-down right"></i></a>
                </div>
              </li>
              <ul class="collapsible">
                    <li class="no-padding">
                      <ul class="collapsible" data-collapsible="accordion">
                        <li class="bold">
                          <a href="#class="waves-effect waves-cyan">
                              <i class="material-icons">pie_chart_outlined</i>
                              <span class="nav-text">Inicio</span>
                            </a>
                        </li>
                        <li>
                          <div class="collapsible-header">
                            <i class="material-icons">filter_drama</i>
                            Proceso de Jubilacion
                            </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Listado de Trabajadores
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Solicitud de Expedientes
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Movimiento de la jubilacion
                            </a>
                          </div>
                        </li>
                        <li>
                          <a href="#" class="waves-effect waves-cyan my_a bold">
                              <i class="material-icons text_bold" style=" color: #000;">money</i>
                              <span class="text_bold">Antecedentes de Permiso</span>
                            </a>
                        </li>
                      </ul>
                    </li>
              </ul>
            {% endif %}

            {% if user.is_analista_social %}
              <li class="user-details cyan darken-2">
                <div class="row">
                  <div class="col col s4 m4 l4">
                    <img src="{% static 'images/avatar/admin1.jpg'%}" alt="" class="circle responsive-img valign profile-image cyan">
                  </div>
                  
                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown-nav"><p>Analista Seguro Social</p><i class="mdi-navigation-arrow-drop-down right"></i></a>
                    
                </div>
              </li>
              <ul class="collapsible">
                    <li class="no-padding">
                      <ul class="collapsible" data-collapsible="accordion">
                        <li class="bold">
                          <a href="#class="waves-effect waves-cyan">
                              <i class="material-icons">pie_chart_outlined</i>
                              <span class="nav-text">Inicio</span>
                            </a>
                        </li>
                        <li>
                          <div class="collapsible-header">
                            <i class="material-icons">filter_drama</i>
                            Proceso del Seguro
                            </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Listado de Trabajadores
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Solicitud de Expedientes
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Movimiento del Seguro
                            </a>
                          </div>
                        </li>
                        <li>
                          <a href="#" class="waves-effect waves-cyan my_a bold">
                              <i class="material-icons text_bold" style=" color: #000;">money</i>
                              <span class="text_bold">Trámite de pensión</span>
                            </a>
                        </li>
                      </ul>
                    </ul>
                </li>
            {% endif %}
            {% if user.is_trabajador %}
              <li class="user-details cyan darken-2">
                <div class="row">
                  <div class="col col s4 m4 l4">
                    <img src="{% static 'images/avatar/in10.jpg'%}" alt="" class="circle responsive-img valign profile-image cyan">
                  </div>
                  
                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown-nav">Trabajdor<i class="mdi-navigation-arrow-drop-down right"></i></a>
                    
                </div>
              </li>
              <ul class="collapsible">
                    <li class="no-padding">
                      <ul class="collapsible" data-collapsible="accordion">
                        <li class="bold">
                          <a href="#class="waves-effect waves-cyan">
                              <i class="material-icons">pie_chart_outlined</i>
                              <span class="nav-text">Inicio</span>
                            </a>
                        </li>
                        <li>
                          <div class="collapsible-header">
                            <i class="material-icons">filter_drama</i>
                            Solicitar Constancias
                            </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Ley política habitacional
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Trabajo con sueldo
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Trabajo
                            </a>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header">
                            <i class="material-icons">filter_drama</i>
                            Seguro Social
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Inscripcion del seguro
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Solicitar pension
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Listado de pensionados
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Listado de seguro social
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Movimientos de jubilacion
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Movimientos de pension
                            </a>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header">
                            <i class="material-icons">filter_drama</i>
                            Vacaciones
                            </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Solicitar Vacaciones
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Listado de vacaciones
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Movimientos de vacaciones
                            </a>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header">
                            <i class="material-icons">filter_drama</i>
                            Jubilacion
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Solicitar de jubilacion
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Solicitar permiso
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Listado de jubilacion
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Movimientos de jubilacion
                            </a>
                          </div>
                        </li>
                      </ul>
                    </li>
              </ul>
            {% endif %}
            {% if user.is_analista_vacaciones %}
              <li class="user-details cyan darken-2">
                <div class="row">
                  <div class="col col s4 m4 l4">
                    <img src="{% static 'images/avatar/avatar-1.jpg'%}" alt="" class="circle responsive-img valign profile-image cyan">
                  </div>
                  
                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown-nav"><p>Analista de Vacaciones</p><i class="mdi-navigation-arrow-drop-down right"></i></a>
                    
                </div>
              </li>
              <ul class="collapsible">
                    <li class="no-padding">
                      <ul class="collapsible" data-collapsible="accordion">
                        <li class="bold">
                          <a href="#class="waves-effect waves-cyan">
                              <i class="material-icons">pie_chart_outlined</i>
                              <span class="nav-text">Inicio</span>
                            </a>
                        </li>
                        <li>
                          <div class="collapsible-header">
                            <i class="material-icons">filter_drama</i>
                            Proceso de Vacaciones
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Solicitud de Expedientes
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Movimiento de Vacaciones
                            </a>
                          </div>
                          <div class="collapsible-body">
                            <a href="#}">
                              Listado de Trabajadores
                            </a>
                          </div>
                        </li>
                        <li>
                          <a href="#" class="waves-effect waves-cyan my_a bold">
                              <i class="material-icons text_bold" style=" color: #000;">money</i>
                              <span class="text_bold">Listados de Vacaciones</span>
                            </a>
                        </li>
                      </ul>
                    </ul>
                </li>
            {% endif %}
            {% endblock %}
          <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
            <i class="material-icons">menu</i>
          </a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content">
          <!--start container-->
          <div class="container">
            <!--card stats start-->
            {% block content %}{% endblock %}
          </div>
          <!--end container-->
        </section>
      </div>
      <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer gradient-45deg-light-blue-cyan">
        <div class="footer-copyright">
          <div class="container">
            <span>DEPARWEB
              <script type="text/javascript">
                document.write(new Date().getFullYear());
              </script> <a class="grey-text text-lighten-2" href="http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">CREADORES:</a> Gissell Viña - Yorbalys Almo - Edixon Diaz</span>
          </div>
        </div>
    </footer>
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="{% static 'vendors/jquery-3.2.1.min.js' %}"></script>
    

    <!--materialize js-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="{% static 'vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="{% static 'js/custom-script.js' %}"></script>
    <script src="{% static 'JTables/js/dataTables/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'JTables/js/dataTables/data-tables-script.js' %}"></script>
  </body>
</html>